services:
  - type: web
    runtime: docker
    name: backend
    repo: https://github.com/trumanchho/omr-jianpu-melody-generator
    branch: main
    plan: free
    dockerfilePath: ./flask-server/Dockerfile
    dockerContext: ./flask-server

  - type: web
    runtime: docker
    name: frontend
    repo: https://github.com/trumanchho/omr-jianpu-melody-generator
    branch: main
    dockerfilePath: ./omr-project/Dockerfile
    dockerContext: ./omr-project
