services:
  - type: web
    runtime: docker
    name: backend
    repo: https://github.com/Trumanchho/omr-jianpu-melody-generator
    plan: free
    dockerfilePath: flask-server/Dockerfile

  - type: web
    runtime: docker
    name: frontend
    repo: https://github.com/Trumanchho/omr-jianpu-melody-generator
    plan: free
    dockerfilePath: omr-project/Dockerfile
